<div class="container">
  <% @movies.each do |movie| %>
  <div>
    <h2>
      A movie by <%= link_to "#{movie.writer}", movie %>
    </h2>
    <ul>
      <li><%= link_to "Edit Movie", edit_movie_path(movie) %></li>
      <li><%= link_to "Delete Movie", movie, data: {:confirm => 'Are you sure?'}, :method => :delete %></li>
    </ul>
  </div>
  <% end %>
</div>
